{% extends 'base.html'%}
{%  block start %}
<div class="container-fluid">
    <p class="text-center">Enter your email address. We'll send you instructions to reset your password</p>
    <form class="mt-5 w-50 mx-auto" method='POST' enctype="multipart/form-data">
      {% csrf_token %}      
      <div class="form-group">
        <input type="email" class="form-control" name="mail" placeholder="Enter email" required>
      </div><br>
      <button type="submit" class="btn btn-primary btn-block">Request password reset</button>
    </form>
  </div>
{% endblock %}